* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
html {
	background-image: url(cool-background.png);
	background-attachment: fixed;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* object-fit: fill; */
}
body {
	font-family: 'Helvetica', 'Arial', 'Times';
	margin: 0px;
}
@font-face {
	font-family: 'naYana';
	src: url('naYanaIPA4_.otf') format('opentype');
}
.row {
	width: 100%;
	clear: both;
	margin: auto;
	overflow: auto;
}
.logrow {
	background-color: white;
	border-radius: 25px;
	margin: auto;
	margin-bottom: 20px;
	overflow: auto;
	width: 90%;
}
.menu {
	text-align: center;
	margin-bottom: 30px;
}
#menu_id {
	font-family: monaco, Consolas, Lucida Console, monospace;
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 30px;
}
.container {
	position: relative;
	top: 60px;
	margin: auto;
	padding: 10px;
}

.column {
	font-size: 20px;
	width: 31%;
	float: left;
	padding: 5px;
	margin: 1%;
	border-style: solid;
	border-radius: 25px;
}
.item-title {
	text-align: center;
	padding: 3px;
	margin: 10px;
	font-family: 'Comic Sans MS', 'Comic Sans', cursive;
	font-size: 25px;
	font-weight: bold;
}

#inp {
	display: block;
	resize: none;
	word-wrap: break-word;
	min-height: 40%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 98%;
	padding: 10px;
	margin: 3px;
	border: none;
	outline: none;
	/* white-space: pre;  */
	font-size: 25px;
	border-radius: 25px;
	background-color: white;
}
#warning {
	text-align: center;
	visibility: hidden;
	display: block;
	color: red;
	margin: auto;
	text-shadow: white 0px 0px 10px;
}
#nYn {
	display: block;
	word-wrap: break-word;
	height: 40%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 98%;
	padding: 10px;
	margin: 3px;
	/* white-space: pre; */
	font-family: 'naYana';
	font-size: 30px;
	border-radius: 25px;
	background-color: white;
	overflow: auto;
}

#IPA {
	display: block;
	resize: none;
	word-wrap: break-word;
	height: 40%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 98%;
	padding: 10px;
	margin: 3px;
	/* white-space: pre; */
	font-size: 25px;
	border-radius: 25px;
	background-color: white;
	overflow: auto;
}

button {
	background-color: #0095ff;
	border: none;
	outline: none;
	padding: 5px;
	margin-top: 4px;
	border-radius: 5px;
	font-size: 1.1rem;
	color: #fff;
	width: 10%;
}

button:hover {
	background-color: #0077cc;
	cursor: pointer;
}
.logcolumn {
	width: 33.33%;
	float: left;
	padding: 10px;
	margin: 0px;
	border-top: 0px;
	border-bottom: 0px;
}

.logspan {
	display: block;
	padding: 5px;
	font-size: 25px;
	word-wrap: break-word;
}
/* .inpcolumn{
  font-size:20px;
} */
.IPAlogcolumn {
	border-left: 2px;
	border-right: 2px;
	border-style: solid;
}
.IPAcolumn {
	padding-bottom: 0px;
}
.nYncolumn {
	font-family: 'naYana';
}

.copybutton {
	margin-top: 0px;
	margin-bottom: 4px;
	margin-right: 4px;
	float: right;
	background: url(copybut_20.png) no-repeat;
	height: 24px;
	width: 24px;
	border-radius: 5px;
	padding: 0px;
}
.copybutton:hover {
	background-color: white;
	cursor: pointer;
}

.error {
	position: relative;
	animation: shake 0.1s linear;
	animation-iteration-count: 3;
	border: 1px solid red !important;
	outline: none;
}

@keyframes shake {
	0% {
		left: -5px;
	}
	100% {
		right: -5px;
	}
}
.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: rgb(238, 231, 135);
	color: rgb(10, 10, 10);
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: -5px;
	left: 105%;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.text::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(104, 247, 211, 0.431);
	border-radius: 10px;
	background-color: #f5f5f5;
}

.text::-webkit-scrollbar {
	width: 12px;
	background-color: #f5f5f5;
	border-radius: 10px;
}

.text::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(104, 247, 211, 0.431);
	background-color: rgb(80, 6, 141);
}
.link {
	height: 50px;
	width: 50px;
	float: right;
	margin: auto;
}
#nynlink {
	text-align: center;
	font-size: 18px;
	width: fit-content;
	height: 50px;
	overflow: visible;
	align-items: center;
	margin-top: 12px;
	margin-right: 10px;
	color: white;
	text-decoration: underline;
}

.navbuttons {
	float: left;
}
.navbtn {
	font-size: 20px;
	cursor: pointer;
	margin: 8px;
}
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 11;
	top: 0;
	left: 0;
	background-color: rgb(6, 1, 29);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}
.sidenav a {
	padding: 8px 10px 8px 10px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
#Con {
	position: fixed;
	top: 51px;
	z-index: 10;
	left: -54px;
	margin: 0;
	background-color:  rgb(120, 78, 148);
	color: white;
	padding: 6px;
	transition: 0.5s;
	width: fit-content;
	transform: rotate(90deg);
}
#Vow {
	position: fixed;
	top: 182px;
	z-index: 10;
	left: -32px;
	margin: 0px;
	background-color: rgb(120, 78, 148);
	color: white;
	padding: 6px;
	transition: all 0.5s ease 0s;
	width: fit-content;
	transform: rotate(90deg);
}
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}
.consonants {
	max-width: 90%;
	max-height: 100%;
}
.vowels {
	max-width: 90%;
	max-height: 100%;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(104, 247, 211, 0.431);
	border-radius: 10px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #f5f5f5;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(104, 247, 211, 0.431);
	background-color: rgb(22, 6, 112);
}
